body {
	background-color: lightyellow;
	margin-left: 20px;
	max-width: 800px;
}
pre { 
	background-color: white; 
	padding: 10px;
	border: 1px solid black;
}
code .normal { color: black; }
code .keyword { color: blue; }
code .type { color: green; }
code .classname { color: green; }
